{
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "printWidth": 500,
                "svelteAllowShorthand": true,
                "svelteIndentScriptAndStyle": true,
                "endOfLine": "auto",
                "parser": "svelte"
            }
        }
    ]
}