{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 500,
    "bracketSameLine": true,
    "trailingComma": "es5",
    "endOfLine": "crlf",
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
    "svelteAllowShorthand": true
}
