{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 500,
    "bracketSameLine": true,
    "trailingComma": "es5",
    "endOfLine": "lf",
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "svelteAllowShorthand": true
}