@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        width: 14px;
    }

    ::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #aaaaaa;
    }

    * {
        @apply outline-none;
    }

    body {
        @apply bg-theme-50 flex h-screen w-screen items-center justify-center;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-theme-700;
    }

    div,
    span {
        @apply text-theme-600;
    }

    select {
        @apply bg-theme-200 rounded-lg pl-1 pr-3;
    }
}

@layer components {
    .ring-input {
        @apply ring-theme-300 rounded-lg ring-2 transition-all focus-within:ring-violet-500;
    }

    .btn {
        @apply text-theme-500 ring-theme-300 disabled:text-theme-300 disabled:ring-theme-300 rounded-lg px-4 py-1 text-center text-lg font-medium ring-2 transition-all hover:text-violet-600 hover:ring-violet-500 disabled:hover:ring-2;
    }

    .btn-highlight {
        @apply text-theme-100 hover:text-theme-100 bg-violet-500 font-medium ring-0 hover:bg-violet-400 hover:ring-0 disabled:bg-violet-200 disabled:text-violet-300 disabled:hover:ring-0;
    }

    .chat-entry-shadow {
        @apply shadow-[0px_-5px_10px_rgba(0,0,0,0.1)];
    }

    .unread-msg-shadow {
        @apply shadow-[0px_1px_0px_#c4b5fd];
    }

    .sup {
        line-height: 50%;
        font-size: 0.8rem;
    }
}
