@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply text-zinc-600;
    }

    ::-webkit-scrollbar {
        width: 14px;
    }

    ::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #aaaaaa;
    }

    * {
        @apply outline-none;
    }

    body {
        @apply flex h-screen w-screen items-center justify-center bg-zinc-50;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-zinc-700;
    }
}

@layer components {
    .ring-input {
        @apply rounded-lg ring-2 ring-zinc-300 transition-all focus-within:ring-violet-500;
    }

    .btn {
        @apply rounded-lg px-4 py-1 text-center text-lg font-medium text-zinc-500 ring-2 ring-zinc-300 transition-all hover:text-violet-600 hover:ring-violet-500 disabled:text-zinc-300 disabled:ring-zinc-300 disabled:hover:ring-2;
    }

    .btn-highlight {
        @apply bg-violet-500 font-medium text-zinc-100 ring-0 hover:bg-violet-400 hover:text-zinc-50 hover:ring-0 disabled:bg-violet-200 disabled:text-violet-300 disabled:hover:ring-0;
    }

    .chat-entry-shadow {
        @apply shadow-[0px_-5px_10px_rgba(0,0,0,0.1)];
    }
}
